.titleSkillsProjects {
  margin-top: -1rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cardProjects {
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.cardsProjects {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
}

.divCard,
.divCard2,
.divCard3 {
  margin: 2rem 1.5rem 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.cardProjects.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  background-color: #502d9d !important;
}

.picAfacil,
.picApi,
.picCrud {
  width: 21.6rem;
  height: 11.5rem;
}

.descricao {
  color: white;
}

.iconHeartClick {
  fill: rgb(211, 59, 59) !important;
}

@media screen and (max-width: 600px) {

  .divCard,
  .divCard2,
  .divCard3 {
    display: flex;
    margin: 1rem auto;
  }

  .cardsProjects {
    display: block;
    margin-left: 0;
  }
}

@media screen and (min-width: 1400px) {

  .divCard,
  .divCard2,
  .divCard3 {
    margin: 2rem 5rem 3rem;
  }
}