li {
  list-style: none;
  margin-right: 1.563rem !important;
}

a {
  text-decoration: none !important;
  color: #2e1466 !important;
}

a:hover {
  color: blue !important;
}

.optionMenu {
  background-color: #FFFF;
  color: #2e1466;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.optionMenu:hover {
  opacity: 0.7;
}

.nav {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  height: 4rem !important;
  background: white !important;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin-top: -4rem;
}

.nav__menu {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  gap: 3rem !important;
}

.nav__toggler div {
  width: 2rem !important;
  height: 0.1rem !important;
  margin: 0.4rem !important;
  background: black !important;
  transition: 0.4s ease-in !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
  display: flex !important;
}

.nav__toggler {
  cursor: pointer !important;
  display: none !important;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block !important;
    margin-left: 19rem;
  }

  .nav__menu {
    position: fixed !important;
    top: 4rem !important;
    right: 0 !important;
    width: 100% !important;
    height: 50vh !important;
    background: white !important;
    flex-direction: column !important;
    transform: translateX(100%) !important;
    transition: 0.5s ease-in !important;
  }
}

.nav__active {
  transform: translateX(0) !important;
}

.toggle .line1 {
  color: black;
  transform: rotate(-45deg) translate(-8px, 10px) !important;
}

.toggle .line2 {
  color: black;
  opacity: 0 !important;
}

.toggle .line3 {
  color: black;
  transform: rotate(45deg) translate(-2px, -3px) !important;
}

.theme-switch {
  appearance: none;
  width: 49px;
  height: 28px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background: #ffffff;
  transition: background-color ease 0.3s;
}

.theme-switch::before {
  content: url('../../assets/svg/moon.svg');
  display: block;
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 29px;
  background: white;
  left: -1px;
  top: 0px;
  border-radius: 50%;
  text-indent: 2px;
  line-height: 28px;
  word-spacing: 37px;
  color: #000000;
  white-space: nowrap;
  transition: all cubic-bezier(0.3, 1, 0.7, 1) 0.3s;
  align-items: center;
}

.theme-switch:checked {
  background-color: #ffffff;
  border-color: #ffffff;
  align-items: center;
}

.theme-switch:checked::before {
  left: 23px;
  content: url('../../assets/svg/sun.svg');
  background: #ffffff;
  align-items: center;
  display: flex;
  justify-content: center;
}